# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Database
*.db
*.sqlite3

# Model files
*.pkl
*.joblib

# Build
dist/
build/